h1 {
    color: red;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px red;
    text-align: center;
}

.p {
    text-decoration: underline;
    font-weight: bold;
    color: blue;
    text-align: center;
    text-decoration: wavy;
}

p {
    Line-height: 1.6;
    font-family: "Arial";
    font-size: "12px";
    word-spacing: 1.6;
    letter-spacing: 1.6;
}
